:root {
  --accent-color: #2ba84a;
  --accent-bg-color: #f8f9fa33;
  --accent-color-hover: #1f7b35;
  --color-bg-text: #f8f9fa;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: var(--color-bg-text);
  color: #343a40;
}

.container {
  max-width: 1728px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ================================================================== */

.header {
  display: flex;
  justify-content: center;
}

.header__nav {
  margin-top: 50px;
  margin-bottom: 10px;
}

.header__list {
  display: flex;
  gap: 80px;
}

.headef__link {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -2%;
  transition: color 0.3s ease;
}

.headef__link:hover {
  color: #7c7d7e;
}

.header__item:not(:last-child) .headef__link::before {
  content: "";
  position: absolute;
  right: -40px;
  top: 19px;
  border-radius: 50px;
  width: 6px;
  height: 6px;
  background-color: var(--accent-color);
}

/* ======================================================================================== */

.hero {
  padding: 68px 84px;
  position: relative;
  height: 516px;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../image/hero-bg-image.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 516px;
  opacity: 0.35;
  z-index: 0;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero__title,
.hero__descr {
  position: relative;
  z-index: 1;
}

.hero__title {
  margin-bottom: 42px;
  color: var(--accent-color);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: -2px;
  text-transform: uppercase;
  opacity: 1;
}

.hero__descr {
  margin-bottom: 62px;
  max-width: 1354px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -2%;
}

.hero__link {
  padding: 15px 70px;
  color: var(--accent-color);
  font-size: 48px;
  font-weight: 500;
  line-height: 59px;
  border: 1px solid var(--accent-color);
  border-radius: 35px;
  box-shadow: 0px 5px 5px 0px #343a4066;
  backdrop-filter: blur(16px);
  background: var(--accent-bg-color);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: inline-block;
}

.hero__link:hover {
  transform: scale(0.97);
  box-shadow: 0px 3px 3px 0px #343a4044;
}

/* ==================================================================================================== */

.services {
  padding-top: 54px;
  padding-bottom: 164px;
}

.services__intro {
  margin-bottom: 27px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.services__title {
  color: var(--accent-color);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.services__descr {
  max-width: 1118px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -2%;
}

.services__offers {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

.services__offers-word {
  height: 172px;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 145px;
  text-transform: uppercase;
  border: 3px solid var(--accent-color);
  border-radius: 35px;
  background: var(--accent-bg-color);
  padding: 10px 20px;
  margin: 20px 0;
  text-align: center;
}

.services__offers-word-blur {
  filter: blur(10px);
  opacity: 0.55;
  display: inline-block;
}

.services__offers-word--one {
  margin-left: -72.5%;
}

.services__offers-word--two {
  margin-right: -64%;
}

.services__offers-word--three {
  margin-left: -56.5%;
}

.services__offers-word--four {
  margin-right: -64%;
}

.services__offers-word--five {
  margin-left: -77.5%;
}

.services__offers-word--fivesix {
  margin-right: -64%;
}

.services__offers-word--seven {
  margin-left: -63.5%;
}

.services__offers-word--eight {
  margin-right: -64%;
}

.services__offers-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.services__offers:nth-of-type(3) .services__offers-wrap {
  margin: 0 65px;
}

.services__offers:nth-of-type(4) .services__offers-wrap {
  margin: 0 -40px;
}

.services__offers:nth-of-type(5) .services__offers-wrap {
  margin: 0 60px;
}

.services__offers-title {
  color: var(--accent-color);
  font-size: 32px;
  font-weight: 600;
  line-height: 115.01%;
  letter-spacing: -2%;
  text-transform: uppercase;
}

.services__offer-descr {
  max-width: 715px;
  height: 173px;
  padding: 18px 39px;
  font-size: 20px;
  font-weight: 400;
  line-height: 115.01%;
  letter-spacing: -2%;
  box-sizing: border-box;
  border: 3px solid var(--accent-color);
  border-radius: 35px;
}

/* ==================================================================================================== */

.about {
  position: relative;
  padding: 68px 0 98px;
  position: relative;
}

.about::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../image/about-bg-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 819px;
  z-index: 1;
}

.about__intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.about__title {
  margin-bottom: 190px;
  padding: 5px 36px;
  color: var(--accent-color);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  box-sizing: border-box;
  border: 3px solid var(--accent-color);
  border-radius: 25px;
  backdrop-filter: blur(5px);
  background: var(--accent-bg-color);
}

.about__descr {
  margin-bottom: 100px;
  padding: 29px 20px;
  max-width: 850px;
  font-size: 20px;
  font-weight: 500;
  line-height: 115.01%;
  letter-spacing: -2%;
  box-sizing: border-box;
  border: 3px solid var(--accent-color);
  border-radius: 35px;
  backdrop-filter: blur(50px);
  background: var(--accent-bg-color);
  z-index: 3;
}
.about__descr-bold {
  font-weight: 700;
}

.about__icon {
  position: absolute;
  left: 225px;
  top: 80px;
}

.about__subtitle {
  position: relative;
  margin: 20px 0 14px;
  color: var(--accent-color);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
}

.about__advantages {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 41px 0;
  align-items: start;
  max-width: 1600px;
  justify-content: center;
  margin: 0 auto;
}

.about__advantages-wrap {
  padding: 5px 20px;
  max-width: 700px;
  box-sizing: border-box;
  border: 3px solid var(--accent-color);
  border-radius: 25px;
  backdrop-filter: blur(10px);
  background: var(--accent-bg-color);
}

.about__advantages-wrap:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
.about__advantages-wrap:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}
.about__advantages-wrap:nth-child(3) {
  grid-column: 1;
  grid-row: 3;
}

.about__advantages-icon {
  grid-column: 2;
  grid-row: 1 / span 3;
  justify-self: center;
  align-self: center;
}

.about__advantages-wrap:nth-child(5) {
  grid-column: 3;
  grid-row: 1;
}
.about__advantages-wrap:nth-child(6) {
  grid-column: 3;
  grid-row: 2;
}
.about__advantages-wrap:nth-child(7) {
  grid-column: 3;
  grid-row: 3;
}

.about__advantages-paragraph {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  line-height: 115.01%;
  letter-spacing: -2%;
  text-align: center;
}
.about__advantages-descr {
  font-size: 20px;
  font-weight: 400;
  line-height: 115.01%;
  letter-spacing: -2%;
  text-align: center;
}

/* ==================================================================================================== */

.goods {
  margin-bottom: 80px;
}

.goods__title {
  color: var(--accent-color);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: center;
  text-transform: uppercase;
}
.goods__descr {
  margin: 0 auto 28px;
  max-width: 1078px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -2%;
  text-align: center;
}

.goods__wrap {
  position: relative;
  margin-bottom: 34px;
  background-color: #343a404d;
  height: 711px;
  padding: 22px 0 13px;
  overflow: visible;
}

.swiper.goods__slider.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
  padding-bottom: 10px;
}

.goods__slider {
  padding-bottom: 20px;
  max-width: 1118px;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.goods__slider-card {
  text-align: center;
  height: 671px;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 35px;
  box-shadow: 0px 10px 4px 0px #00000040;
  backdrop-filter: blur(10px);
  background: var(--accent-bg-color);
}

.goods__slider-card--green {
  border: 3px solid var(--accent-color);
}

.goods__slider-card img {
  margin-bottom: 20px;
}
.goods__slider-title {
  margin-bottom: 9px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -2%;
  text-align: center;
}
.goods__slider-descr {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 115.01%;
  letter-spacing: -2%;
}

.goods__link {
  position: absolute;
  bottom: 14px;
  left: 55px;
  padding: 15px 19px;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -2%;
  text-transform: uppercase;
  border-radius: 25px;
  box-shadow: 0px 6px 4px 0px #00000040;
  background: #ffffff03;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.goods__link:hover {
  transform: scale(0.97);
  box-shadow: 0px 3px 3px 0px #343a4044;
}

.goods__link--green {
  border: 3px solid var(--accent-color);
}

.swiper-button-prev,
.swiper-button-next {
  background: none;
  color: inherit;
  width: auto;
  height: auto;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.custom__arrow-prev,
.custom__arrow-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  transition: opacity 0.3s ease;
}

.custom__arrow-prev:hover ,
.custom__arrow-next:hover {
  opacity: 0.5;
}

.custom__arrow-prev {
  left: 12%;
}

.custom__arrow-next {
  right: 12%;
}

.goods__fool-link {
  margin: 0 auto;
  padding: 25px 17px;
  display: block;
  max-width: 804px;
  color: var(--color-bg-text);
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: -2%;
  text-align: center;
  text-transform: uppercase;
  border-radius: 25px;
  background: var(--accent-color);
  transition: background 0.3s ease;
}

.goods__fool-link:hover {
  background-color: var(--accent-color-hover);
}

/* ==================================================================================================== */

.scheme {
  position: relative;
  padding-bottom: 250px;
}

.scheme .circle-1,
.scheme .circle-2 {
  position: absolute;
  background-color: var(--accent-color);
  border-radius: 50px;
}

.scheme .circle-1 {
  bottom: 115px;
  left: 17%;
  width: 54px;
  height: 54px;
}
.scheme .circle-2 {
  bottom: 52px;
  left: 14%;
  width: 33px;
  height: 33px;
}

.scheme .line-1,
.scheme .line-2,
.scheme .line-3 {
  position: absolute;
  width: 3px;
  background-color: var(--accent-color);
  transform: rotate(90deg);
  z-index: 0;
  pointer-events: none;
}

.scheme .line-1 {
  bottom: -155px;
  left: 40%;
  height: 529px;
}

.scheme .line-2 {
  bottom: 20px;
  left: 38%;
  height: 135px;
}

.scheme .line-3 {
  bottom: 76px;
  left: 50%;
  height: 20px;
}

.scheme__title {
  margin-bottom: 4px;
  color: var(--accent-color);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: center;
  text-transform: uppercase;
}

.scheme::before,
.scheme::after {
  content: "";
  position: absolute;
  top: -35px;
  width: 276px;
  height: 1132px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
  pointer-events: none;
}

.scheme::before {
  left: 0;
  background-image: url("../image/icons/scheme-bg-left.svg");
}

.scheme::after {
  right: -25px;
  background-image: url("../image/icons/scheme-bg-right.svg");
}

.scheme__wrap {
  position: relative;
  width: 100%;
  max-width: 1352px;
  height: 746px;
  margin: 0 auto;
}

.scheme__item {
  position: absolute;
  width: 294px;
  height: 294px;
  border-radius: 50%;
  border: 3px solid var(--accent-color);
  background: var(--accent-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.scheme__num {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 290px;
  font-weight: 800;
  color: var(--accent-color);
  z-index: 1;
  pointer-events: none;
  user-select: none;
  white-space: nowrap;
  filter: blur(4px);
  opacity: 0.6;
}

.scheme__text {
  position: relative;
  z-index: 2;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -2%;
  text-align: center;
}

.scheme__label {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-bg-text);
  padding: 6px 16px;
  font-size: 32px;
  font-weight: 700;
  line-height: 115.01%;
  letter-spacing: -2%;
  z-index: 3;
  box-sizing: border-box;
  border: 3px solid var(--accent-color);
  border-radius: 25px;
  white-space: nowrap;
}

.scheme__item--1 {
  top: 0;
  left: 0;
}
.scheme__item--2 {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.scheme__item--3 {
  top: 0;
  right: 0;
}

.scheme__item--4 {
  bottom: 0;
  left: 29%;
  transform: translateX(-50%);
}
.scheme__item--5 {
  bottom: 0;
  right: 29%;
  transform: translateX(50%);
}

.scheme__arrow {
  position: absolute;
  pointer-events: none;
}

.scheme__arrow--1to2 {
  top: 130px;
  left: 305px;
}
.scheme__arrow--2to3 {
  top: 117px;
  right: 307px;
}
.scheme__arrow--3to4 {
  top: 195px;
  right: -85px;
}
.scheme__arrow--4to5 {
  bottom: 150px;
  left: 555px;
}

/* ==================================================================================================== */

.reviews {
  position: relative;
  padding-top: 30px;
  padding-bottom: 85px;
}
.reviews__title {
  margin-bottom: 35px;
  color: var(--accent-color);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: center;
  text-transform: uppercase;
}

.reviews__slider {
  margin-bottom: 45px;
  max-width: 1012px;
}
.reviews__card.swiper-slide {
  height: 412px;
  margin-bottom: 10px;
}

.reviews__card {
  max-width: 294px;
  box-shadow: 0px 5px 4px 0px #00000040;
  border-radius: 35px;
  border: 3px solid var(--accent-color);
}
.reviews__card-name {
  padding: 25px 59px;
  color: #fff;
  border-radius: 35px 35px 0 0;
  background-color: var(--accent-color);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: -2%;
  text-align: center;
}
.reviews__card-descr {
  padding: 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -2%;
  text-align: center;
}

.reviews__arrow-next,
.reviews__arrow-prev {
  position: absolute;
  top: 340px;
  transition: opacity 0.3s ease;
}

.reviews__arrow-next:hover,
.reviews__arrow-prev:hover {
  opacity: 0.5;
}

.reviews__arrow-next {
  right: 14%;
}

.reviews__arrow-prev {
  left: 14%;
}

.reviews__heading {
  margin-bottom: 72px;
  color: var(--accent-color);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: center;
  text-transform: uppercase;
}

.reviews__accordion {
  max-width: 1354px;
  margin: 0 auto;
}

.reviews__item {
  margin-bottom: 20px;
  border: 3px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  overflow: hidden;
  transition: all 0.3s ease;
}

.reviews__question {
  position: relative;
  width: 100%;
  padding: 20px 48px;
  padding-right: 60px;
  border-radius: 25px 25px 0 0;
  border: none;
  cursor: pointer;
  color: var(--accent-color);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  text-align: left;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.reviews__question::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--accent-color);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 0 0 25px 25px;
  pointer-events: none;
}

.reviews__item.active .reviews__question::after {
  opacity: 1;
}

.reviews__question:hover {
  background-color: #e8e8e8;
}

.reviews__answer {
  padding: 0 48px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.6s ease;
  color: var(--text-color, #333);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.reviews__item.active .reviews__answer {
  max-height: 500px;
  padding: 20px 48px 35px;
}

.reviews__icon {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  pointer-events: none;
}

.reviews__icon::before,
.reviews__icon::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 3px;
  height: 24px;
  background-color: green;
  border-radius: 1.5px;
  transform-origin: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.reviews__icon::before {
  transform: translate(-50%, -50%) rotate(0deg);
}

.reviews__icon::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.reviews__item.active .reviews__icon::before {
  background-color: black;
  transform: translate(-50%, -50%) rotate(45deg);
}

.reviews__item.active .reviews__icon::after {
  background-color: black;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* ==================================================================================================== */

.request {
  padding-bottom: 50px;
}
.request__title {
  margin-bottom: 48px;
  color: var(--accent-color);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: center;
  text-transform: uppercase;
}

.request__wrapper {
  display: flex;
  gap: 116px;
  justify-content: center;
  align-items: center;
}

.request__info {
  max-width: 575px;
}

.request__info-title {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: -2%;
  text-align: center;
}

.request__info-item {
  margin-bottom: 20px;
  display: flex;
  gap: 9px;
  align-items: center;
  justify-content: start;
  padding: 22px 11px 22px 20px;
  box-sizing: border-box;
  border: 3px solid var(--accent-color);
  border-radius: 25px;
  background: #f8f9fa33;
}

.request__info-item:last-child {
  margin-bottom: 0;
}

.request__info-text {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -2%;
}

.request__request {
  padding: 80px 20px 0;
  max-width: 708px;
  height: 711px;
  box-sizing: border-box;
  border: 3px solid var(--accent-color);
  border-radius: 35px;
  backdrop-filter: blur(10px);
  background: #f8f9fa33;
}

.request__request-descr {
  margin-bottom: 93px;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: -2%;
}

.request__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.request__form-field {
  position: relative;
}

.request__form-field::after {
  content: "";
  position: absolute;
  left: 71px;
  bottom: 24px;
  width: var(--underline-width, 64px);
  height: 2px;
  background-color: #343a40cc;
  pointer-events: none;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.request__form-field--phone::after {
  height: 3px;
}
.request__form-field--phone {
  --underline-width: 214px;
}

.request__form-icon {
  position: absolute;
  left: 22px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.request__form-input {
  cursor: pointer;
  width: 100%;
  padding: 30px 71px;
  box-sizing: border-box;
  border: 3px solid var(--accent-color);
  border-radius: 25px;
  background: #f9fcff;
  font-size: 16px;
  color: #343a40cc;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: -2%;
}

.request__form-input::placeholder {
  color: #343a40cc;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: -2%;
}

.request__form-input:hover {
  border-color: var(--accent-color-hover);
  background-color: var(--color-bg-text);
}

.request__form-button {
  margin-top: 65px;
  padding: 25px;
  color: var(--color-bg-text);
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: -2%;
  background-color: var(--accent-color);
  border-radius: 25px;
  transition: background 0.3s ease;
}

.request__form-button:hover {
  background-color: var(--accent-color-hover);
}

/* ==================================================================================================== */

.footer {
  padding: 20px 50px;
  height: 200px;
  background-color: var(--accent-color);
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__contact {
  max-width: 394px;
}

.footer__connection-title,
.footer__contact-label {
  color: var(--color-bg-text);
  font-size: 32px;
  font-weight: 500;
  line-height: 39px;
  letter-spacing: -2%;
  text-align: left;
}
.footer__contact-address {
  color: var(--color-bg-text);
  text-decoration: underline;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: -2%;
}

.footer__connection-item,
.footer__connection-link {
  color: var(--color-bg-text);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: -2%;
}

.footer__social {
  margin-top: 30px;
  display: flex;
  gap: 40px;
}

.footer__contact-address:hover,
.footer__connection-link:hover {
  color: #a2cfb3;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer__social a:hover {
  opacity: 0.8;
  transition: filter 0.3s ease;
}
