:root {
  --accent-color: #2ba84a;
  --accent-bg-color: #f8f9fa33;
  --accent-color-hover: #1f7b35;
  --color-bg-text: #f8f9fa;
}

html {
  overflow-x: hidden;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: var(--color-bg-text);
  color: #343a40;
  line-height: 120%;
}

.container {
  max-width: 1728px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ================================================================== */

.header {
  display: flex;
  justify-content: center;
}

.header__nav {
  margin-top: 50px;
  margin-bottom: 10px;
}

.header__list {
  display: flex;
  gap: 80px;
}

.header__link {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
  letter-spacing: -2%;
  transition: color 0.3s ease;
}

.header__link:hover {
  color: #7c7d7e;
}

.header__item:not(:last-child) .header__link::before {
  content: "";
  position: absolute;
  right: -40px;
  top: 19px;
  border-radius: 50px;
  width: 6px;
  height: 6px;
  background-color: var(--accent-color);
}

/* ======================================================================================== */

.hero {
  padding: 68px 84px;
  position: relative;
  height: 516px;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../image/hero-bg-image.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 516px;
  opacity: 0.35;
  z-index: 0;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero__title,
.hero__descr {
  position: relative;
  z-index: 1;
}

.hero__title {
  margin-bottom: 42px;
  color: var(--accent-color);
  font-weight: 700;
  letter-spacing: -2px;
  text-transform: uppercase;
  opacity: 1;
}

.hero__descr {
  margin-bottom: 62px;
  max-width: 1354px;
  font-weight: 400;
  letter-spacing: -2%;
}

.hero__link {
  padding: 15px 70px;
  color: var(--accent-color);
  font-weight: 500;
  line-height: 59px;
  border: 1px solid var(--accent-color);
  border-radius: 35px;
  box-shadow: 0px 5px 5px 0px #343a4066;
  backdrop-filter: blur(16px);
  background: var(--accent-bg-color);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: inline-block;
}

.hero__link:hover {
  transform: scale(0.97);
  box-shadow: 0px 3px 3px 0px #343a4044;
}

/* ==================================================================================================== */

.services {
  padding-top: 54px;
  padding-bottom: 98px;
}

.services__intro {
  margin-bottom: 27px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.services__title {
  color: var(--accent-color);
  font-weight: 700;
  text-transform: uppercase;
}

.services__descr {
  max-width: 1118px;
  font-weight: 400;
  letter-spacing: -2%;
}

.services__offers {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

.services__offers-word {
  height: 172px;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 145px;
  text-transform: uppercase;
  border: 3px solid var(--accent-color);
  border-radius: 35px;
  background: var(--accent-bg-color);
  padding: 10px 20px;
  margin: 20px 0;
  text-align: center;
}

.services__offers-word-blur {
  filter: blur(10px);
  opacity: 0.55;
  display: inline-block;
  transform: translateY(60px);
}

.services__offers-word--one {
  margin-left: -72.5%;
}

.services__offers-word--two {
  margin-right: -64%;
}

.services__offers-word--three {
  margin-left: -56.5%;
}

.services__offers-word--four {
  margin-right: -64%;
}

.services__offers-word--five {
  margin-left: -77.5%;
}

.services__offers-word--fivesix {
  margin-right: -64%;
}

.services__offers-word--seven {
  margin-left: -63.5%;
}

.services__offers-word--eight {
  margin-right: -64%;
}

.services__offers-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.services__offers:nth-of-type(3) .services__offers-wrap {
  margin: 0 65px;
}

.services__offers:nth-of-type(4) .services__offers-wrap {
  margin: 0 -40px;
}

.services__offers:nth-of-type(5) .services__offers-wrap {
  margin: 0 60px;
}

.services__offers-title {
  color: var(--accent-color);
  font-weight: 600;
  line-height: 115.01%;
  letter-spacing: -2%;
  text-transform: uppercase;
}

.services__offer-descr {
  max-width: 715px;
  max-height: 573px;
  padding: 18px 39px;
  font-weight: 400;
  line-height: 115.01%;
  letter-spacing: -2%;
  box-sizing: border-box;
  border: 3px solid var(--accent-color);
  border-radius: 35px;
}

/* ==================================================================================================== */

.about {
  position: relative;
  padding: 68px 0 98px;
  position: relative;
}

.about::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../image/about-bg-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 819px;
  z-index: 1;
}

.about__intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.about__title {
  margin-bottom: 190px;
  padding: 5px 36px;
  color: var(--accent-color);
  font-weight: 700;
  box-sizing: border-box;
  border: 3px solid var(--accent-color);
  border-radius: 25px;
  backdrop-filter: blur(5px);
  background: var(--accent-bg-color);
}

.about__descr {
  margin-bottom: 100px;
  padding: 29px 20px;
  max-width: 850px;
  font-weight: 500;
  line-height: 115.01%;
  letter-spacing: -2%;
  box-sizing: border-box;
  border: 3px solid var(--accent-color);
  border-radius: 35px;
  backdrop-filter: blur(50px);
  background: var(--accent-bg-color);
  z-index: 3;
}
.about__descr-bold {
  font-weight: 700;
}

.about__icon {
  position: absolute;
  top: 80px;
  transform: translateX(-120%);
}

.about__subtitle {
  position: relative;
  margin: 20px 0 14px;
  color: var(--accent-color);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
}

.about__advantages {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 41px 0;
  align-items: start;
  max-width: 1600px;
  justify-content: center;
  margin: 0 auto;
}

.about__advantages-wrap {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 700px;
  box-sizing: border-box;
  border: 3px solid var(--accent-color);
  border-radius: 25px;
  backdrop-filter: blur(10px);
  background: var(--accent-bg-color);
}

.about__advantages-wrap:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
.about__advantages-wrap:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}
.about__advantages-wrap:nth-child(3) {
  grid-column: 1;
  grid-row: 3;
}

.about__advantages-icon {
  grid-column: 2;
  grid-row: 1 / span 3;
  justify-self: center;
  align-self: center;
}

.about__advantages-wrap:nth-child(5) {
  grid-column: 3;
  grid-row: 1;
}
.about__advantages-wrap:nth-child(6) {
  grid-column: 3;
  grid-row: 2;
}
.about__advantages-wrap:nth-child(7) {
  grid-column: 3;
  grid-row: 3;
}

.about__advantages-paragraph {
  margin-bottom: 10px;
  font-weight: 600;
  line-height: 115.01%;
  letter-spacing: -2%;
  text-align: center;
}
.about__advantages-descr {
  font-weight: 400;
  line-height: 115.01%;
  letter-spacing: -2%;
  text-align: center;
}

/* ==================================================================================================== */

.goods {
  margin-bottom: 80px;
}

.goods__title {
  color: var(--accent-color);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.goods__descr {
  margin: 0 auto 28px;
  max-width: 1078px;
  font-weight: 400;
  letter-spacing: -2%;
  text-align: center;
}

.goods__wrap {
  position: relative;
  margin-bottom: 34px;
  background-color: #343a404d;
  height: 711px;
  padding: 22px 0 13px;
}

.swiper.goods__slider.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
  padding-bottom: 10px;
}

.goods__slider {
  padding-bottom: 20px;
  max-width: 1118px;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.goods__slider-card {
  text-align: center;
  height: 671px;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 35px;
  box-shadow: 0px 10px 4px 0px #00000040;
  backdrop-filter: blur(10px);
  background: var(--accent-bg-color);
}

.goods__slider-card--green {
  border: 3px solid var(--accent-color);
}

.goods__slider-card img {
  margin-bottom: 20px;
}
.goods__slider-title {
  margin-bottom: 9px;
  font-weight: 600;
  letter-spacing: -2%;
  text-align: center;
}
.goods__slider-descr {
  position: relative;
  font-weight: 400;
  line-height: 115.01%;
  letter-spacing: -2%;
}

.goods__link {
  position: absolute;
  bottom: 14px;
  left: 55px;
  padding: 15px 19px;
  display: inline-block;
  font-weight: 600;
  letter-spacing: -2%;
  text-transform: uppercase;
  border-radius: 25px;
  box-shadow: 0px 6px 4px 0px #00000040;
  background: #ffffff03;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.goods__link:hover {
  transform: scale(0.97);
  box-shadow: 0px 3px 3px 0px #343a4044;
}

.goods__link--green {
  border: 3px solid var(--accent-color);
}

.goods__wrap-btns {
  position: absolute;
  top: 50%;
  left: 46.5%;
  display: flex;
  gap: 1206px;
  transform: translateX(-50%);
  margin-left: 53px;
}

.custom__arrow-prev,
.custom__arrow-next {
  cursor: pointer;
}

.custom__arrow-prev:hover,
.custom__arrow-next:hover {
  opacity: 0.5;
}

.goods__fool-link {
  margin: 0 auto;
  padding: 25px 17px;
  display: block;
  max-width: 804px;
  color: var(--color-bg-text);
  font-weight: 600;
  line-height: 39px;
  letter-spacing: -2%;
  text-align: center;
  text-transform: uppercase;
  border-radius: 25px;
  background: var(--accent-color);
  transition: background 0.3s ease;
}

.goods__fool-link:hover {
  background-color: var(--accent-color-hover);
}

/* ==================================================================================================== */

.scheme {
  position: relative;
  padding-bottom: 250px;
}

.scheme .circle-1,
.scheme .circle-2 {
  position: absolute;
  background-color: var(--accent-color);
  border-radius: 50px;
}

.scheme .circle-1 {
  bottom: 115px;
  left: 17%;
  width: 54px;
  height: 54px;
}
.scheme .circle-2 {
  bottom: 52px;
  left: 14%;
  width: 33px;
  height: 33px;
}

.scheme .line-1,
.scheme .line-2,
.scheme .line-3 {
  position: absolute;
  width: 3px;
  background-color: var(--accent-color);
  transform: rotate(90deg);
  z-index: 0;
  pointer-events: none;
}

.scheme .line-1 {
  bottom: -155px;
  left: 40%;
  height: 529px;
}

.scheme .line-2 {
  bottom: 20px;
  left: 38%;
  height: 135px;
}

.scheme .line-3 {
  bottom: 76px;
  left: 50%;
  height: 20px;
}

.scheme__title {
  margin-bottom: 30px;
  color: var(--accent-color);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.scheme::before,
.scheme::after {
  content: "";
  position: absolute;
  top: -35px;
  width: 276px;
  height: 1132px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
  pointer-events: none;
}

.scheme::before {
  left: 0;
  background-image: url("../image/icons/scheme-bg-left.svg");
}

.scheme::after {
  right: -25px;
  background-image: url("../image/icons/scheme-bg-right.svg");
}

.scheme__wrap {
  position: relative;
  width: 100%;
  max-width: 1352px;
  height: 746px;
  margin: 0 auto;
}

.scheme__item {
  position: absolute;
  width: 294px;
  height: 294px;
  border-radius: 50%;
  border: 3px solid var(--accent-color);
  background: var(--accent-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.scheme__num {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 290px;
  font-weight: 800;
  color: var(--accent-color);
  z-index: 1;
  pointer-events: none;
  user-select: none;
  white-space: nowrap;
  filter: blur(4px);
  opacity: 0.6;
}

.scheme__text {
  position: relative;
  z-index: 2;
  font-weight: 500;
  letter-spacing: -2%;
  text-align: center;
}

.scheme__label {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-bg-text);
  padding: 6px 16px;
  font-weight: 700;
  line-height: 115.01%;
  letter-spacing: -2%;
  z-index: 3;
  box-sizing: border-box;
  border: 3px solid var(--accent-color);
  border-radius: 25px;
  white-space: nowrap;
}

.scheme__item--1 {
  top: 0;
  left: 0;
}
.scheme__item--2 {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.scheme__item--3 {
  top: 0;
  right: 0;
}

.scheme__item--4 {
  bottom: 0;
  left: 29%;
  transform: translateX(-50%);
}
.scheme__item--5 {
  bottom: 0;
  right: 29%;
  transform: translateX(50%);
}

.scheme__arrow {
  position: absolute;
  pointer-events: none;
}

.scheme__arrow--1to2 {
  top: 130px;
  left: 305px;
}
.scheme__arrow--2to3 {
  top: 117px;
  right: 307px;
}
.scheme__arrow--3to4 {
  top: 195px;
  right: -85px;
}
.scheme__arrow--4to5 {
  bottom: 150px;
  left: 555px;
}

/* ==================================================================================================== */

.reviews {
  position: relative;
  padding-top: 30px;
  padding-bottom: 85px;
}
.reviews__title {
  margin-bottom: 35px;
  color: var(--accent-color);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.reviews__slider {
  margin-bottom: 45px;
  max-width: 1012px;
}
.reviews__card.swiper-slide {
  height: 412px;
  margin-bottom: 10px;
}

.reviews__card {
  max-width: 294px;
  box-shadow: 0px 5px 4px 0px #00000040;
  border-radius: 35px;
  border: 3px solid var(--accent-color);
}
.reviews__card-name {
  padding: 25px 59px;
  color: #fff;
  border-radius: 35px 35px 0 0;
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 39px;
  letter-spacing: -2%;
  text-align: center;
}
.reviews__card-descr {
  padding: 20px;
  font-weight: 400;
  letter-spacing: -2%;
  text-align: center;
}

.reviews__arrow-next,
.reviews__arrow-prev {
  position: absolute;
  top: 340px;
  transition: opacity 0.3s ease;
}

.reviews__arrow-next:hover,
.reviews__arrow-prev:hover {
  opacity: 0.5;
}

.reviews__arrow-next {
  right: 14%;
}

.reviews__arrow-prev {
  left: 14%;
}

.reviews__heading {
  margin-bottom: 72px;
  color: var(--accent-color);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.reviews__accordion {
  max-width: 1354px;
  margin: 0 auto;
}

.reviews__item {
  margin-bottom: 20px;
  border: 3px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  overflow: hidden;
  transition: all 0.3s ease;
}

.reviews__question {
  position: relative;
  width: 100%;
  padding: 20px 48px;
  padding-right: 60px;
  border-radius: 25px 25px 0 0;
  border: none;
  cursor: pointer;
  color: var(--accent-color);
  font-size: 20px;
  line-height: 124%;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.reviews__question::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--accent-color);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 0 0 25px 25px;
  pointer-events: none;
}

.reviews__item.active .reviews__question::after {
  opacity: 1;
}

.reviews__question:hover {
  background-color: #e8e8e8;
}

.reviews__answer {
  padding: 0 48px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.6s ease;
  color: var(--text-color, #333);
  font-family: Montserrat;
  font-weight: 400;
  text-align: left;
}

.reviews__item.active .reviews__answer {
  max-height: 500px;
  padding: 20px 48px 35px;
}

.reviews__icon {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  pointer-events: none;
}

.reviews__icon::before,
.reviews__icon::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 3px;
  height: 24px;
  background-color: green;
  border-radius: 1.5px;
  transform-origin: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.reviews__icon::before {
  transform: translate(-50%, -50%) rotate(0deg);
}

.reviews__icon::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.reviews__item.active .reviews__icon::before {
  background-color: black;
  transform: translate(-50%, -50%) rotate(45deg);
}

.reviews__item.active .reviews__icon::after {
  background-color: black;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* ==================================================================================================== */

.request {
  padding-bottom: 50px;
}
.request__title {
  margin-bottom: 48px;
  color: var(--accent-color);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.request__wrapper {
  display: flex;
  gap: 116px;
  justify-content: center;
  align-items: end;
}

.request__info {
  max-width: 575px;
}

.request__info-title {
  margin-bottom: 15px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: -2%;
  text-align: center;
}

.request__info-item {
  margin-bottom: 20px;
  display: flex;
  gap: 9px;
  align-items: center;
  justify-content: start;
  padding: 18px 11px 18px 20px;
  box-sizing: border-box;
  border: 3px solid var(--accent-color);
  border-radius: 25px;
  background: #f8f9fa33;
}

.request__info-item:last-child {
  margin-bottom: 0;
}

.request__info-text {
  font-weight: 600;
  letter-spacing: -2%;
}

.request__request {
  padding: 80px 20px 0;
  max-width: 708px;
  height: 750px;
  box-sizing: border-box;
  border: 3px solid var(--accent-color);
  border-radius: 35px;
  backdrop-filter: blur(10px);
  background: #f8f9fa33;
}

.request__request-descr {
  margin-bottom: 93px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: -2%;
}

.request__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.request__form-field {
  position: relative;
}

.request__form-field::after {
  content: "";
  position: absolute;
  left: 71px;
  bottom: 24px;
  width: var(--underline-width, 64px);
  height: 2px;
  background-color: #343a40cc;
  pointer-events: none;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.request__form-field--phone::after {
  height: 3px;
}
.request__form-field--phone {
  --underline-width: 214px;
}

.request__form-icon {
  position: absolute;
  left: 22px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.request__form-input {
  cursor: pointer;
  width: 100%;
  padding: 30px 71px;
  box-sizing: border-box;
  border: 3px solid var(--accent-color);
  border-radius: 25px;
  background: #f9fcff;
  color: #343a40cc;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: -2%;
}

.request__form-input::placeholder {
  color: #343a40cc;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: -2%;
}

.request__form-input:hover {
  border-color: var(--accent-color-hover);
  background-color: var(--color-bg-text);
}

.request__form-button {
  margin-top: 65px;
  padding: 25px;
  color: var(--color-bg-text);
  font-weight: 600;
  line-height: 39px;
  letter-spacing: -2%;
  background-color: var(--accent-color);
  border-radius: 25px;
  transition: background 0.3s ease;
}

.request__form-button:hover {
  background-color: var(--accent-color-hover);
}

/* ==================================================================================================== */

.footer {
  margin-top: -2px;
  padding: 20px 50px;
  height: 200px;
  background-color: var(--accent-color);
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__contact {
  max-width: 394px;
}

.footer__connection-title,
.footer__contact-label {
  color: var(--color-bg-text);
  font-weight: 500;
  line-height: 39px;
  letter-spacing: -2%;
  text-align: left;
}
.footer__contact-address {
  color: var(--color-bg-text);
  text-decoration: underline;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: -2%;
}

.footer__connection-item,
.footer__connection-link {
  color: var(--color-bg-text);
  font-weight: 400;
  line-height: 29px;
  letter-spacing: -2%;
}

.footer__social {
  margin-top: 30px;
  display: flex;
  gap: 40px;
}

.footer__contact-address:hover,
.footer__connection-link:hover {
  color: #a2cfb3;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer__social a:hover {
  opacity: 0.8;
  transition: filter 0.3s ease;
}

/* ==================================================================================================== */
/* ==================================================================================================== */
/* ==================================================================================================== */

@media (max-width: 1727px) {
  .header__nav {
    margin-top: 40px;
  }

  /* ---------------------------------------------- */

  .services__offers-word--one {
    margin-left: -99.5%;
  }

  .services__offers-word--two {
    margin-right: -92%;
  }

  .hero {
    padding: 55px 60px;
  }

  .hero__title {
    margin-bottom: 35px;
  }

  .hero__descr {
    margin-bottom: 50px;
  }

  /* ---------------------------------------------- */

  .scheme__item--1 {
    top: 0;
    left: 90px;
  }

  .scheme__item--3 {
    top: 0;
    right: 76px;
  }

  .scheme__item--4 {
    bottom: 0;
    left: 34%;
    transform: translateX(-50%);
  }

  .scheme__item--5 {
    bottom: 0;
    right: 33%;
    transform: translateX(50%);
  }

  .scheme__arrow--1to2 {
    top: 130px;
    left: 397px;
    width: 120px;
  }

  .scheme__arrow--2to3 {
    top: 117px;
    right: 379px;
    width: 132px;
  }

  .scheme__arrow--3to4 {
    top: 195px;
    right: -5px;
    width: 1279px;
  }

  .scheme__arrow--4to5 {
    bottom: 150px;
    left: 615px;
    width: 133px;
  }

  /* ---------------------------------------------- */

  .reviews__arrow-next {
    right: 9%;
  }

  .reviews__arrow-prev {
    left: 9%;
  }

  /* ---------------------------------------------- */

  .request__wrapper {
    gap: 80px;
  }
}

@media (max-width: 1439px) {
  .header__nav {
    margin-top: 25px;
  }

  /* ---------------------------------------------- */

  .hero {
    padding: 45px 50px;
  }

  .hero__title {
    margin-bottom: 30px;
  }

  .hero__descr {
    margin-bottom: 40px;
  }

  /* ---------------------------------------------- */

  .services__offers {
    gap: 30px;
  }

  .services__offers:nth-of-type(2) .services__offers-wrap img {
    margin-right: -100px;
  }

  .container > div:nth-child(2) .services__offers-wrap {
    padding: 0 90px 0 0;
  }

  .services__offers-word--one {
    margin-left: -121.5%;
  }

  .services__offers-word--two {
    margin-right: -115%;
  }

  .services__offers-word--three {
    margin-left: -88.5%;
  }

  .services__offers-word--four {
    margin-right: -95%;
  }

  .services__offers-word--five {
    margin-left: -95.5%;
  }

  .services__offers-word--fivesix {
    margin-right: -95%;
  }

  .services__offers-word--seven {
    margin-left: -95.5%;
  }

  .services__offers-word--eight {
    margin-right: -104%;
  }

  .services__offers:nth-of-type(3) .services__offers-wrap {
    margin: 0 10px;
  }

  .services__offers:nth-of-type(4) .services__offers-wrap {
    margin: 0 10px;
  }

  .services__offers:nth-of-type(5) .services__offers-wrap {
    margin: 0 10px;
  }

  .services__offers-title {
    max-width: 200px;
    text-align: center;
  }

  /* ---------------------------------------------- */

  .goods__slider {
    max-width: 988px;
  }

  /* ---------------------------------------------- */

  .goods__wrap-btns {
    left: 46.5%;
    gap: 1020px;
    margin-left: 47px;
  }

  .scheme::before,
  .scheme::after {
    display: none;
  }

  .scheme__item--3 {
    top: 0;
    right: 90px;
  }

  .scheme__item--4 {
    bottom: 40px;
    left: 33%;
    transform: translateX(-50%);
  }

  .scheme__item--5 {
    bottom: 40px;
    right: 33%;
    transform: translateX(50%);
  }

  .scheme__arrow--1to2,
  .scheme__arrow--2to3,
  .scheme__arrow--3to4,
  .scheme__arrow--4to5 {
    display: none;
  }

  .scheme .circle-1 {
    bottom: 195px;
  }

  .scheme .circle-2 {
    bottom: 132px;
  }

  .scheme .line-1 {
    bottom: -75px;
  }

  .scheme .line-2 {
    bottom: 100px;
  }

  .scheme .line-3 {
    bottom: 156px;
  }

  /* ---------------------------------------------- */

  .reviews__arrow-next {
    right: 2%;
  }

  .reviews__arrow-prev {
    left: 2%;
  }

  /* ---------------------------------------------- */

  .request__wrapper {
    gap: 40px;
  }
}

@media (max-width: 1199px) {
  .hero {
    padding: 45px 50px;
  }

  .hero__title {
    margin-bottom: 35px;
  }

  .hero__descr {
    margin-bottom: 45px;
  }

  .hero__link {
    padding: 10px 70px;
  }

  /* ---------------------------------------------- */

  .services {
    padding-top: 50px;
    padding-bottom: 130px;
  }

  .services__offers-word {
    display: none;
  }

  .services__offers {
    margin-bottom: 20px;
  }

  .services__offers:nth-of-type(4) .services__offers-wrap {
    margin: -10px 0px;
  }

  .services__offers {
    display: flex;
    justify-content: center;
  }

  /* ---------------------------------------------- */

  .about__icon {
    transform: translateX(-88%);
    top: -30px;
  }

  /* ---------------------------------------------- */

  .about__advantages {
    gap: 20px 0;
  }

  .about__advantages-wrap {
    height: 130px;
  }

  /* ---------------------------------------------- */

  .goods__slider {
    max-width: 800px;
  }

  .goods__wrap-btns {
    left: 46.5%;
    gap: 821px;
    margin-left: 38px;
  }

  .goods__link {
    left: 41px;
  }

  /* ---------------------------------------------- */

  .scheme__title {
    margin-bottom: -20px;
  }

  .scheme__item--1 {
    left: 12px;
  }

  .scheme__item--3 {
    right: 12px;
  }

  .scheme__item--1,
  .scheme__item--2,
  .scheme__item--3 {
    top: 50px;
  }

  /* ---------------------------------------------- */

  .reviews {
    padding-bottom: 60px;
  }

  .reviews__slider {
    width: 612px;
  }

  .reviews__arrow-prev {
    left: 10%;
  }

  .reviews__arrow-next {
    right: 10%;
  }

  .reviews__heading {
    margin-bottom: 40px;
  }

  /* ---------------------------------------------- */

  .request__wrapper {
    gap: 20px;
  }

  /* ---------------------------------------------- */

  .footer {
    height: auto;
  }

  .footer__container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px 40px;
  }

  .footer__connection,
  .footer__contact {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 991px) {
  .header__nav {
    margin-top: 18px;
  }

  /* ---------------------------------------------- */

  .services {
    padding-bottom: 110px;
  }

  .services__intro {
    margin-bottom: 50px;
  }
  .container > div:nth-child(2) .services__offers-wrap,
  .container > div:nth-child(3) .services__offers-wrap,
  .container > div:nth-child(4) .services__offers-wrap,
  .container > div:nth-child(5) .services__offers-wrap {
    margin-bottom: -20px;
  }

  .services__offers:nth-of-type(2),
  .services__offers:nth-of-type(3) {
    flex-direction: column;
  }
  .services__offers:nth-of-type(4),
  .services__offers:nth-of-type(5) {
    flex-direction: column-reverse;
  }

  .services__offers:nth-of-type(2) .services__offers-wrap img {
    margin-right: -90px;
  }

  .container > div:nth-child(2) .services__offers-wrap {
    padding: 0 80px 0 0;
  }

  /* ---------------------------------------------- */

  .about__title {
    margin-bottom: 100px;
  }

  .about__icon {
    display: none;
  }

  .about__descr {
    margin-bottom: 150px;
    max-width: 530px;
  }

  /* ---------------------------------------------- */

  .goods__slider {
    max-width: 600px;
  }

  .goods__wrap-btns {
    left: 46.5%;
    gap: 620px;
    margin-left: 30.5px;
  }

  .goods__link {
    left: 57px;
  }

  .goods__fool-link {
    margin: 0 60px;
  }

  /* ---------------------------------------------- */

  .scheme {
    padding-bottom: 469px;
  }
  .scheme__title {
    margin-bottom: -20px;
  }

  .scheme__item--1 {
    left: 50px;
  }

  .scheme__item--2 {
    left: auto;
    transform: none;
    right: 50px;
  }

  .scheme__item--3 {
    right: 50%;
    top: 55%;
    transform: translateX(50%);
  }

  .scheme__item--4 {
    bottom: -43%;
    left: 50px;
    transform: none;
  }

  .scheme__item--5 {
    bottom: -43%;
    right: 50px;
    transform: none;
  }

  .scheme .circle-1 {
    bottom: 30px;
  }

  .scheme .circle-2 {
    bottom: -20px;
  }

  .scheme .line-1 {
    bottom: -239px;
    left: 57%;
  }

  .scheme .line-2 {
    bottom: -58px;
  }

  .scheme .line-3 {
    bottom: -1px;
  }

  /* ---------------------------------------------- */

  .reviews__arrow-prev {
    left: 0.5%;
  }
  .reviews__arrow-next {
    right: 0.5%;
  }

  .reviews__heading {
    margin-bottom: 30px;
  }

  .reviews__question {
    padding: 15px 30px;
  }

  .reviews__item.active .reviews__answer {
    max-height: 500px;
    padding: 15px 48px 20px;
  }

  /* ---------------------------------------------- */

  .request__title {
    margin-bottom: 35px;
  }

  .request__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}

@media (max-width: 767px) {
  .header__list {
    gap: 30px;
  }

  .header__item:not(:last-child) .header__link::before {
    right: -15px;
  }

  /* ---------------------------------------------- */
  .hero {
    padding: 35px 40px;
  }

  .hero__title {
    margin-bottom: 20px;
  }

  .hero__descr {
    margin-bottom: 30px;
  }

  .hero__link {
    padding: 0 50px;
  }

  /* ---------------------------------------------- */

  .services {
    padding-bottom: 100px;
  }

  .services__offers:nth-of-type(2) .services__offers-wrap img {
    margin-right: -30px;
  }

  .container > div:nth-child(2) .services__offers-wrap {
    padding: 0 0 0 0;
  }

  /* ---------------------------------------------- */

  .about__descr {
    margin-bottom: 160px;
  }

  /* ---------------------------------------------- */

  .about__advantages {
    grid-template-columns: 1fr !important;
    grid-template-rows: none !important;
    gap: 20px !important;
  }

  .about__advantages-wrap,
  .about__advantages-icon {
    grid-column: 1 !important;
    grid-row: auto !important;
    justify-self: center !important;
    align-self: center !important;
    max-width: 100% !important;
  }

  .about__advantages-icon {
    display: none !important;
  }

  .about__advantages img {
    display: none;
  }

  .about__advantages-wrap {
    height: auto;
    padding: 5px 20px;
  }

  /* ---------------------------------------------- */

  .goods__slider {
    max-width: 300px;
  }

  .goods__wrap-btns {
    left: 46.5%;
    gap: 329px;
    margin-left: 23px;
  }

  .goods__link {
    left: 68px;
  }

  .goods__fool-link {
    margin: 0 20px;
  }

  /* ---------------------------------------------- */

  .scheme {
    padding-bottom: 680px;
  }

  .scheme__item--1 {
    left: 0px;
  }

  .scheme__item--2 {
    left: auto;
    transform: none;
    right: 0px;
    top: 283px;
  }

  .scheme__item--3 {
    right: auto;
    top: 70%;
    transform: none;
    left: 0;
  }

  .scheme__item--4 {
    bottom: -42%;
    left: auto;
    transform: none;
    right: 0;
  }

  .scheme__item--5 {
    bottom: -73%;
    right: auto;
    transform: none;
  }

  .scheme .line-1 {
    left: 50%;
  }

  .scheme .line-2 {
    left: 42%;
  }

  .scheme .line-3 {
    left: 61%;
  }

  /* ---------------------------------------------- */

  .reviews__slider {
    max-width: 280px;
  }

  .reviews__arrow-prev {
    left: 12.5%;
  }

  .reviews__arrow-next {
    right: 12.5%;
  }

  .reviews__item {
    margin-bottom: 15px;
  }

  /* ---------------------------------------------- */

  .request__request {
    padding: 50px 20px 0;
    height: 560px;
  }

  .request__request-descr {
    margin-bottom: 35px;
  }

  .request__form-button {
    margin-top: 35px;
  }

  /* ---------------------------------------------- */

  .footer__container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .footer__contact {
    max-width: 222px;
  }
}

@media (max-width: 575px) {
  .header__list {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .header__item {
    flex: 1 1 45%;
    text-align: center;
  }

  .header__item:not(:last-child) .header__link::before {
    display: none;
  }

  /* ---------------------------------------------- */

  .hero {
    padding: 25px 5px;
  }

  .hero__title {
    margin-bottom: 5px;
  }

  .hero__descr {
    max-width: 350px;
    margin-bottom: 20px;
  }

  .hero__link {
    padding: 0 50px;
  }

  /* ---------------------------------------------- */

  .services {
    padding-bottom: 90px;
  }

  .services__intro {
    margin-bottom: 35px;
  }

  /* ---------------------------------------------- */

  .about__descr {
    margin-bottom: 165px;
  }

  /* ---------------------------------------------- */

  .goods__wrap {
    height: 801px;
    padding: 22px 0 103px;
  }

  .goods__slider {
    max-width: 300px;
  }

  .goods__wrap-btns {
    top: 89%;
    left: 46.5%;
    gap: 219px;
    margin-left: 16.5px;
  }

  .goods__link {
    left: 68px;
  }

  .goods__fool-link {
    padding: 8px 12px;
  }

  /* ---------------------------------------------- */

  .scheme {
    padding-bottom: 1130px;
  }

  .scheme__item--1 {
    left: 50%;
    transform: translateX(-50%);
  }

  .scheme__item--2 {
    left: auto;
    transform: translateX(50%);
    right: 50%;
    top: 394px;
  }

  .scheme__item--3 {
    right: auto;
    top: 99.5%;
    transform: translateX(-50%);
    left: 50%;
  }

  .scheme__item--4 {
    bottom: -85.5%;
    left: auto;
    transform: translateX(50%);
    right: 50%;
  }

  .scheme__item--5 {
    bottom: -132.5%;
    right: auto;
    transform: translateX(-50%);
    left: 50%;
  }

  .scheme .line-3 {
    display: none;
  }

  .scheme .line-2 {
    left: 56%;
  }

  /* ---------------------------------------------- */

  .reviews__slider {
    margin-bottom: 90px;
  }

  .reviews__arrow-prev {
    top: 570px;
  }

  .reviews__arrow-next {
    top: 570px;
  }

  .reviews__question {
    padding: 15px 40px 15px 30px;
  }

  .request__request {
    padding: 35px 20px 0;
    height: 580px;
  }

  .request__request-descr {
    margin-bottom: 25px;
  }

  .request__form-button {
    margin-top: 20px;
  }

  /* ---------------------------------------------- */

  .footer__social {
    gap: 20px;
  }
}

@media (max-width: 380px) {
  .hero__descr {
    max-width: 350px;
    margin-bottom: 10px;
  }

  .hero__link {
    padding: 0 50px;
    line-height: 40px;
  }

  /* ---------------------------------------------- */

  .services {
    padding-bottom: 80px;
  }

  /* ---------------------------------------------- */

  .about__descr {
    margin-bottom: 115px;
  }

  .about__advantages {
    gap: 12px !important;
  }

  /* ---------------------------------------------- */

  .goods {
    margin-bottom: 60px;
  }

  .goods__wrap-btns {
    top: 89%;
    left: 46.5%;
    gap: 160px;
    margin-left: 14.5px;
  }

  /* ---------------------------------------------- */

  /* .reviews__question {
    padding: 15px 30px;
  }

    .reviews__arrow-prev {
    top: 38.5%;
  }

  .reviews__arrow-next {
    top: 38.5%;
  } */

  /* ---------------------------------------------- */

  .request__form-field::after {
    width: 149px;
  }

  .request__request {
    padding: 25px 20px 0;
    height: 600px;
  }

  .request__request-descr {
    margin-bottom: 20px;
  }

  .request__form-button {
    margin-top: 10px;
  }
}
